.header {
    width: 100%;
    background-color: #fff; 
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    max-width: 100%;
    margin: 0 ;
}

.nav-container img {
    width: 120px;
    height: auto;
    margin-left: 50px;
}

.nav-container ul {
    display: flex;
    list-style: none;
    gap: 32px;
    padding: 0;
    margin: 0;
    margin-right: 100px;
}

.nav-container ul li a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    font-size: 30px;
    white-space: nowrap;
    letter-spacing: 0.05em;
    margin-right: 30px;
}

.nav-container ul li a:hover {
    opacity: 0.6;
    transition: opacity 0.2s ease;
}
